/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* цвет героя #FFFFFF #2F303A  */
/*  цвет сссылок, кнопок, лого #2196F3 #000000 */
/* rgba(255, 255, 255, 0.6) */

:root {
  --primary-color-text: #212121;
  --secondary-text-color: #757575;
  --hero-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --ineractive-color: #2196f3;
  --active-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --portfolio-colors: #f5f4fa;
}

body {
  background-color: #fff;
  color: var(--secondary-text-color);

  font-family: Roboto, sans-serif;
  margin: 0;
  /* letter-spacing: ; */
}

ul {
  list-style: none;
}

/* Header/Site nav */

.nav-title {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  color: var(--ineractive-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  padding-inline-start: 1.5em;
  letter-spacing: 0.02em;
}

.nav-logo {
  color: var(--active-color);
}

.site-nav-list .link {
  color: var(--active-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--ineractive-color);
}

.site-nav-list .link.current {
  color: var(--ineractive-color);
}

.mail,
.phone {
  text-decoration: none;
  padding-inline-start: 2.5em;
  letter-spacing: 0.02em;
}

.mail {
  color: var(--primary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.mail:hover,
.mail:focus {
  color: var(--ineractive-color);
}

.phone {
  color: var(--primary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.phone:hover,
.phone:focus {
  color: var(--ineractive-color);
}

/* Hero */

.hero {
  background-color: var(--hero-background-color);
  text-align: center;
}

.hero-title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button {
  color: var(--hero-text-color);
  background-color: var(--ineractive-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
}

/* Sections */

.section-title {
  color: var(--active-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section-point {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.works-section,
.team-section {
  color: var(--primary-color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.team-member {
  color: var(--primary-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

/* Footer */

.footer {
  background-color: var(--hero-background-color);
}

.footer-contacts {
  font-style: normal;
  letter-spacing: 0.03em;
  padding-inline-start: 2.5em;
}

.footer-logo {
  color: var(--hero-text-color);
}

.footer-title {
  font-family: Raleway, sans-serif;
  text-decoration: none;
  color: var(--ineractive-color);
  padding-inline-start: 1.5em;
}

.footer-map {
  color: var(--hero-text-color);
  text-decoration: none;
}

.footer-map:hover,
.footer-map:focus {
  color: var(--ineractive-color);
}

.footer-details {
  color: var(--footer-text-color);
  text-decoration: none;
}

.footer-details:hover,
.footer-details:focus {
  color: var(--ineractive-color);
}

/* -------------------- */

/* Portfolio */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.buttons {
  text-align: center;
}

.buttons-portfolio {
  color: var(--primary-color-text);
  background-color: var(--portfolio-colors);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.buttons-portfolio:hover,
.buttons-portfolio:focus {
  color: var(--hero-text-color);
  background-color: var(--ineractive-color);
}

/* Main */

.example-title {
  color: var(--primary-color-text);
  font-style: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
