/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* цвет героя #FFFFFF #2F303A  */
/*  цвет сссылок, кнопок, лого #2196F3 #000000 */
/* rgba(255, 255, 255, 0.6) */

:root {
  --primary-color-text: #212121;
  --secondary-text-color: #757575;
  --hero-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --ineractive-color: #2196f3;
  --active-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --portfolio-colors: #f5f4fa;
}

body {
  background-color: #fff;
  color: var(--secondary-text-color);

  font-family: Roboto, sans-serif;
  /* letter-spacing: ; */
}

.nav-title,
.link {
  text-decoration: none;
}

.nav-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

ul {
  list-style: none;
}

/* Site nav */
.site-nav-list .link {
  color: var(--primary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--ineractive-color);
}

.site-nav-list .link.current {
  color: var(--ineractive-color);
}

.mail,
.phone {
  text-decoration: none;
}

.mail {
  color: var(--primary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.mail:hover,
.mail:focus {
  color: var(--ineractive-color);
}

.phone {
  color: var(--primary-color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.phone:hover,
.phone:focus {
  color: var(--ineractive-color);
}

/* Hero */

.hero-title {
  color: var(--hero-text-color);
  background-color: var(--hero-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
}

/* Section */

.section-title {
  color: var(--active-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.hero-button {
  color: var(--hero-text-color);
  background-color: var(--ineractive-color);
  font-family: inherit;
  text-align: center;
}

.works-section,
.team-section {
  color: var(--primary-color-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
}

.team-member {
  color: var(--primary-color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.section-point,
.team-position {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

/* Footer */

.footer {
  background-color: var(--hero-background-color);
}

.footer-title {
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

.contacts {
  font-style: normal;
}

.contact-map {
  color: var(--hero-text-color);
  text-decoration: none;
}

.contact-map:hover,
.contact-map:focus {
  color: var(--ineractive-color);
}

.contacts-details {
  color: var(--footer-text-color);
  text-decoration: none;
}

.contacts-details:hover,
.contacts-details:focus {
  color: var(--ineractive-color);
}

/* -------------------- */

/* Portfolio */

.buttons-portfolio {
  color: var(--primary-color-text);
  background-color: var(--portfolio-colors);
  font-family: inherit;
}

.buttons-portfolio:hover,
.buttons-portfolio:focus {
  color: var(--hero-text-color);
  background-color: var(--ineractive-color);
}
